.comment
  %p
    Feito por
    = comment.name if comment.website.blank?
    = link_to comment.name, comment.website unless comment.website.blank?
    , em
    = l(comment.created_at, :format => :long) if comment.created_at
  %p
    Comentário:
    %br
    = comment.comment