%h2
  Editando álbum
  = @gallery.title

- form_for @gallery, :url => admin_galleries_path, :method => :put do |f|
  = render :partial => 'admin/galleries/fields', :locals => { :f => f, :gallery => @gallery }
