= link_to "novo gallery", new_admin_gallery_path, :class => 'link-new'
.galleries
  - @galleries.each do |gallery|
    .gallery
      %p= link_to image_tag('gallery_template.png'), admin_gallery_path(gallery), :class => 'link-show'
      %h7= link_to gallery.title, edit_admin_gallery_path(gallery)
      %h7= link_to "excluir", admin_gallery_path(gallery), :method => 'delete', :confirm => 'Tem certeza que deseja excluir este item? Não será possível voltar atrás.', :class => 'link-delete'