.span-2
.span-20
  .explain.n
    %span.featured
      Taking Notes
    Anotações, coisas do dia-a-dia.
    %br
    %br
    %br
.span-2

.prepend-1.span-17
  = render :partial => 'one_note', :locals => { :note => @note }

.sidebar.span-5
  %p
    Ver a
    = link_to 'lista de anotações', notes_path
    completa.