.DS_Store
bin/*
.config
doc/api
doc/app
config/database.yml
config/application.yml
config/amazon_s3.yml
.project
nbproject
log/*
tmp/**/*
coverage
public/stylesheets/default.css
public/stylesheets/application.css
public/stylesheets/application_mobile.css
public/photos/*