.general
  %h1 Shh! Silêncio que o Felipe pode estar dormindo.
  %h4 Se você está vendo essa página é porque não está logado. Deixa ele descansando.
  #nurse
    %img{ :src => 'images/nurse.jpg', :alt => 'shh nurse', :title => 'tá dormindo, silêncio'}