/* Begin Tags gerais

body
  :background-color #fff
  :font-family verdana
  :font-size 12px

ul
  :margin 0

/* End Tags Gerais

/* Begin classes gerais

a.link-post
  :background-image url(../images/post.png)
  :background-repeat no-repeat
  :padding-left 1.5em

a.link-post-add
  :background-image url(../images/post_add.png)
  :background-repeat no-repeat
  :padding-left 1.5em

a.link-user
  :background-image url(../images/user.png)
  :background-repeat no-repeat
  :padding-left 1.5em

a.link-login
  :background-image url(../images/login.png)
  :background-repeat no-repeat
  :padding-left 1.5em

a.link-logout
  :background-image url(../images/logout.png)
  :background-repeat no-repeat
  :padding-left 1.5em

span.date
  :background-image url(../images/date.png)
  :background-repeat no-repeat
  :padding-left 1.5em

span.date-edit
  :background-image url(../images/date_edit.png)
  :background-repeat no-repeat
  :padding-left 1.5em

span.comments
  :background-image url(../images/comments.png)
  :background-repeat no-repeat
  :padding-left 1.5em

.clear
  :clear both

/* End classes gerais

/* Begin tags especializadas

.menu
  .main_menu
    :float right
  ul li
    :list-style none
    :display inline
    a
      :color #043D15
      :text-decoration none
      :font-weight bold

.post-card
  :padding 5px
  :margin 1px
  :border 0.5px solid #E4EFE7

/* End tags especializadas