.general
  %h2
    Vídeo
    = @video.title
  %p
    = @video.description
  .videos{ :style => "width:480px;height:360px;", :id => "player" }
  %script
    flowplayer("player", "/flowplayer/flowplayer-3.1.5.swf");
    == $f().play('#{@video.public_filename}');
