.span-24.footer
  #footer
    %span.powered
      Powered by
      %a{:href => "http://imightbewrong.com.br"}
        I might be Wrong
      , 2009

- if ENV['RAILS_ENV'] != "development"
  %script{ :type=> "text/javascript" }
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
  %script{ :type => "text/javascript" }
    try {
    var pageTracker = _gat._getTracker("UA-9571119-1");
    pageTracker._trackPageview();
    } catch(err) {}

- unless @browser_verified
  /[if IE]
    %script{ :type=> "text/javascript" }
      /*Load jQuery if not already loaded*/
      if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; }
      var IE6UPDATE_OPTIONS = {
      icons_path: "http://static.ie6update.com/hosted/ie6update/images/",
      message: "Infelizmente, seu Internet Explorer piora a sua experiência nesse site! Clique aqui e faça download de outro mais avançado (Firefox, Safari, Chrome)",
      url: ["http://mozilla.org/", "http://www.google.com/chrome", "http://www.apple.com/safari/"][(Math.floor(Math.random() * 3))]
      }
    %script{ :type=> "text/javascript", :src => "http://static.ie6update.com/hosted/ie6update/ie6update.js" }
