.menu
  %h1 I might be W.R.O.N.G.
  .main_menu
    %ul
      %li
        = link_to "Writing", posts_path
      %li
        Reading
      %li
        Occupied With
      %li
        Nannying
      %li
        Grist
      - unless current_user
        %li
          = link_to "login", login_path, :class => 'link-login'
      - else
        %li
          = link_to "admin", admin_root_path, :class => 'link-admin'
        %li
          = link_to "sair", logout_path, :class => 'link-logout'
    .clear