.span-24
  .prepend-1.span-16.prepend-top.append-bottom
    %h1.title_pages
      =link_to "I might be...", pages_path, :title => 'am I wrong?'
    - @recent_activities.each do |recent_activity|
      = recent_box recent_activity
    %p.paginate
      = will_paginate @recent_activities
  .sidebar.prepend-top.span-6.last
    .more
      %h4 Sobre o imbw
      %p
        Se quiser saber um pouco mais sobre o
        %i
          I might be wrong (imbw)
        , leia
        <a href="http://imbw.com.br/posts/2-Sobre%20o%20I%20Might%20be%20Wrong">esse post</a>.
      %h4 Informação útil
      %a{ :href => 'http://tempo1.cptec.inpe.br/cidades/previsao.do?parameter=tempo&id=241', :target => '_blank' }
        %img{ :src => 'http://www7.cptec.inpe.br/seloweb/CreateImg?cidade=241&op=1&lang=pt', :alt => 'Clique na imagem para mais detalhes' }
        \.

