.span-24
  .span-16
    .span-8
      Writing
    .span-8
      Taking Notes
    .span-16
      Reading
    .span-8
      Observing
    .span-8
      Grising
  .sidebar.span-8.last
    .more
      %h4 Achou pouco?
      %p
        Chegou até aqui e achou pouco? Quer outras idéias?
        Dá uma olhada nesses sites aqui de baixo.
      %p
        No
        %a{ :href => "http://blog.riopro.com.br" }Blog da Riopro
        você vai ler sobre desenvolvimento de software, gerenciamento de projetos, Linux.
      %p
        Acha que o legal é ver algo meio Truman Show, acompanhe o
        Lifestream do Rodrigo na
        %a{ :href => "http://pittlandia.net" }Pittlandia.
      %p
        Está tudo sério demais na sua vida? Ok, vota aqui na
        %a{ :href => "http://peneirando.com/contests/15-qual-e-a-melhor-tirinha-dos-malvados" }melhor tirinha dos Malvados.