.span-24
  .prepend-1.span-16.prepend-top.append-bottom
    %h1.title_pages
      =link_to "I might be...", pages_path, :title => 'am I wrong?'
    - @recent_activities.each do |recent_activity|
      = recent_box recent_activity
    %p.paginate
      = will_paginate @recent_activities
  .sidebar.prepend-top.span-6.last
    .more
      %h4 Sobre o imbw
      %p
        Se quiser saber um pouco mais sobre o
        %i
          I might be wrong (imbw)
        , leia
        <a href="http://imbw.com.br/posts/2-Sobre%20o%20I%20Might%20be%20Wrong">esse post</a>.
      %h4 Informação útil
      %a{ :href => 'http://tempo1.cptec.inpe.br/cidades/previsao.do?parameter=tempo&id=241', :target => '_blank' }
        %img{ :src => 'http://www7.cptec.inpe.br/seloweb/CreateImg?cidade=241&op=1&lang=pt', :alt => 'Clique na imagem para mais detalhes' }
      %br
      %h4 Achou pouco?
      %p
        Chegou até aqui e achou pouco? Quer outras idéias?
        Dá uma olhada nesses sites aqui de baixo.
      %p
        No
        %a{ :href => "http://blog.riopro.com.br" }Blog da Riopro
        você vai ler sobre desenvolvimento de software, gerenciamento de projetos, Linux, Ubuntu, Rails, Ruby, Java e mais.
      %p
        Ou então, algo mais descontraído? Que tal o
        Lifestream do Rodrigo na
        %a{ :href => "http://pittlandia.net" }Pittlandia.
      %p
        Came here looking for I Might be Wrong, the band? So just
        %a{ :href => 'http://imightbewrong.tumblr.com/' }follow this link
        and have fun.
      %p
        Or if you came here looking for "I Might be Wrong", the song from the awesome
        %a{ :href => 'http://www.radiohead.com' }Radiohead
        band, go for 
        %a{ :href => 'http://en.wikipedia.org/wiki/I_Might_Be_Wrong' }its Wikipedia page
        \.

