.textile
  %p
    = link_to 'Como usar o Textile', '#', :onclick => "window.open('/quick.html', '', 'resizable=yes, location=no, width=500, height=600, menubar=no, status=no, scrollbars=yes'); return false;"
 
