.general
  %h2
    Editando Post
    = "##{@post.id}"

  #post
    - form_for @post, :url => admin_post_path, :method => :put do |f|
      = render :partial => 'admin/posts/fields', :locals => { :f => f, :post => @post }

  = render :partial => 'admin/posts/preview', :locals => { :post => nil }