.span-20
  #what_is_grist
    %span.featured
      What is grist?
    No
    %a{}Beer Dictionary
    %span.english
      , Grist: The mixture of milled grains to be used in a specific brew.
    Em bom português quer dizer: a mistura de grãos moído para ser utilizado
    numa determinada bebida. Nesse caso, cerveja. E é essa mistura que faz,
    ao menos para mim, a cerveja ser tão especial.

#beer_votes.span-24
  - @beer_votes.each do |beer_vote|
    = render :partial => 'beer_votes/one_vote', :locals => { :beer_vote => beer_vote }
