.explain.w
  %span.featured
    = link_to 'Writing', '#', :onclick => "$('#explain').toggle(); return false;"
  #explain{ :style => 'display: none;' }
    Um blog. Viagem, diversão, cultura, curiosidades, dia-a-dia. Papo à toa.

#posts
  - @posts.each do |post|
    = render :partial => 'one_post', :locals => { :post => post, :body => post.formatted_body }
  %p.paginate
    = will_paginate @posts

= disqus_comment_counter_tag(Settings::DISQUS_SITE_ID)