- @posts.each do |post|
  .post-card
    %h2
      = link_to post.title, post_path(post), :class => 'link-post'
    %h5
      criado por
      = link_to post.user.login, user_path(post.user), :class => 'link-user'
      , em
      %span.date
        = post.created_at
    %p
      = post.body
