.span-18
  #post
    = render :partial => 'one_post', :locals => { :post => @post, :body => @post.formatted_body(:full) }
.span-18
  #comments_container
    = disqus_comments_tag(Settings::DISQUS_SITE_ID)
= disqus_comment_counter_tag(Settings::DISQUS_SITE_ID)