.general
  %h1 Digite o código do álbum que pretende acessar abaixo
  %p
    E se eu não possuo um código? Então manda um email pro Otávio.
    E se eu não conhecer o Otávio. Bom, nesse caso esquece, porque
    muito provávelmente ele não vai querer te dar um código de acesso mesmo.
  
